<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- STYLES -->
    <link href="/Content/Libraries/Bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

    <link href="/Content/css/styles.css" rel="stylesheet" />
    <!-- / STYLES -->

    <link rel="shortcut icon" href="/Content/media/img/logos/favicon.ico" />
    <title>AskYourFriend - Game by Alex Panov</title>
</head>
<body>
    <header id="header">
        <a href="/">
            <img src="/Content/media/img/logos/logo.png" width="50" height="50" />
        </a>
    </header>
    <div id="content" ng-controller="MainCtrl">
        <div class="col-md-4">
            <button ng-repeat="vote in data.votes" ng-click="showVote($index)" class="btn btn-primary">
                {{vote.name}}
            </button>
        </div>
        <div class="col-md-8">
            <h1>{{name}}</h1>
            <h3>{{desc}}</h3>
            <button class="btn btn-success" ng-repeat="answ in answers">{{answ.name}} ({{answ.count}})</button>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/Content/Libraries/jQuery/jquery.js"></script>
    <script src="/Content/Libraries/Bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/Content/Libraries/AngularJS/angular-1.5.8/angular.js"></script>
    <script src="/Content/Libraries/jQuery/jquery.nicescroll.js"></script>

    <script src="/Content/Libraries/Firebase/firebase.js"></script>
    <script src="/Content/Libraries/Firebase/angularfire.min.js"></script>

    <script src="/Index/Content/js/view.js"></script>
    <script src="/Index/Content/js/app.js"></script>
    <!-- / SCRIPTS -->
</body>
</html>