*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #0000ff;
    overflow: hidden;
}


#header{
    background-color: #83d3ff;
    margin: 5px;
    border-radius: 5px;
}
#content{
    background-color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    padding: 20px;
}

.room-red{
    background-color: none;
}
.room-green{
    background-color: none;
}
.room-blue{
    background-color: none;
}
.navigate.room-red{
    background-color: #ff0000;
}
.navigate.room-green{
    background-color: #00ff00;
}
.navigate.room-blue{
    background-color: #0000ff;
}
.navigate.room-red:hover,
.navigate.room-green:hover,
.navigate.room-blue:hover{
    background-color: #ffffff;
    color: #000000;
}
.content.room-red{
    border: 5px solid #ff0000;
}
.content.room-green{
    border: 5px solid #00ff00;
}
.content.room-blue{
    border: 5px solid #0000ff;
}


a:link,
a:visited,
a:active,
a:hover,
a:visited:active,
a:visited:hover{
    color: #ffffff;
    text-decoration: none;
}

tag{
    color: #965f10;
    background-color: #d2d2d2;
}
tag::before{
    content: "<";
}
tag::after{
    content: ">";
}

ul.nav-tabs > li.active > a.navigate.room-red{
    background-color: #ff0000;
    color: #ffffff;
}
ul.nav-tabs > li.active > a.navigate.room-green{
    background-color: #00ff00;
    color: #ffffff;
}
ul.nav-tabs > li.active > a.navigate.room-blue{
    background-color: #0000ff;
    color: #ffffff;
}
