<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" />

    <link href="./Content/css/styles.css" rel="stylesheet" />
    <!-- / STYLES -->

    <link rel="shortcut icon" href="./Content/media/img/logos/favicon.ico" />
    <title>AskYourFriend - Game by Alex Panov</title>
</head>
<body>
    <!--<div ng-controller="MainCtrl">
        <input ng-model="data.name1" type="text" />
        <input ng-model="data.name1" type="text" />
        <br />
        <input ng-model="data.name2" type="text" />
        <input ng-model="data.name2" type="text" />
    </div>-->
    
    <header id="header">
        <a href="/">
            <img src="./Content/media/img/logos/logo.png" width="50" height="50" />
        </a>
    </header>
    <div id="content">
        <div>
            <ul class="nav nav-tabs">
                <li class="active navigate room-red"><a data-toggle="tab" href="#red">Red room</a></li>
                <li class="navigate room-green"><a data-toggle="tab" href="#green">Green room</a></li>
                <li class="navigate room-blue"><a data-toggle="tab" href="#blue">Blue room</a></li>
            </ul>
            <div class="tab-content">
                <div id="red" class="tab-pane fade in active content room-red">
                    <h3>HOME</h3>
                    <p>Some content.</p>
                    <p><tag>div</tag> content <tag>/div</tag></p>
                </div>
                <div id="green" class="tab-pane fade content room-green">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="blue" class="tab-pane fade content room-blue">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.js"></script>

    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
        

    <script src="./Content/js/view.js"></script>
    <script src="./Content/js/app.js"></script>
    <!-- / SCRIPTS -->
</body>
</html>
